body{
    background: #ECEFF1;
}
.navbar-light{
  /* background: linear-gradient(to right, #EF5350, #EF9A9A,#FFCDD2); */
  background: #fff;
}
.navbar-brand{
    font-size: 20px;
    color: red;
}
a{
    color: black;
    font-size: 17px;
}
.btn{
    margin-left: 120px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.wrapper {
  margin: 3em auto;
  max-width: 960px;
  padding: 0 1em;
}
.post {
  height: 160px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 300px;
  padding: 2em;
  margin: 1.2em;
  border-radius: .5em;
  transition: transform .5s;
}
.post p {
  font-size: 1em;
  font-weight: 500;
  backface-visibility: hidden;
}

.post a {
  text-decoration: none;
  color: white;
  display: block;
}
.p0 {
   background: #EC407A; 
  /* background: linear-gradient(135deg, #EC407A, #FFCDD2); */
}
.p1 {
   background: #518BC0; 
  /* background: linear-gradient(135deg, #518BC0, #8BC5B8); */
}
.p2 {
   background: #424242; 
  /* background: linear-gradient(135deg, #424242, #757575,#BDBDBD); */
}

kbd{
    background: #00E676;
    border-radius: 3px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 30px;
    
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:80%;
 margin-left: 10%;
 border-top:1px solid gray;
}

@media (min-device-width: 768px) {
  .post {
    flex: 1 200px;
  }
}

@media (min-width: 960px) {
  .main-intro h2 {
    font-size: 2em;
  }
  .post {
    flex: 1 150px;
  }
  .post:hover {
    transform: scale(1.1);
  }
}