body{
    background: #ECEFF1;
}
.navbar-light{
  /* background: linear-gradient(to right, #EF5350, #EF9A9A,#FFCDD2); */
  background: #fff;
}
.navbar-brand{
    font-size: 20px;
    color: red;
}

a{
    color: black;
    font-size: 17px;
}
.btn{
    margin-left: 120px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.feeds {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 99%;
}
.feed {
  height: 160px; 
  display: flex;
  max-width: 99%;
  flex-direction: column;
  flex: 1 300px;
  padding: 0.1em;
  margin: 1.2em;
  margin-top: 2px;
  border-radius: .5em;
  transition: transform .5s;
}
.feed h1{
  font-size: 20px;
  color: black;
  font-weight: 500;
  backface-visibility: hidden;
  text-align: center;
}
.feed button{
  display: flex;
  height: 40px;
  width: 90px;
  padding: 1%;
  border-radius: 8px;
  margin: 1.2em;
}
.feed p {
  font-size: 1em;
  font-weight: 500;
  backface-visibility: hidden;
}

.feed a {
  text-decoration: none;
  color: white;
  display: block;
}
.wrapper {
  margin: 3em auto;
  max-width: 960px;
  padding: 0 1em;
}
.wrapper_1 {
  margin: 3em auto 2px auto;
  max-width: 960px;
  max-height: 350px;
  padding: 1em;
}

.post {
  height: 160px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 300px;
  padding: 2em;
  margin: 1.2em;
  border-radius: .5em;
  transition: transform .5s;
}
.post p {
  font-size: 1em;
  font-weight: 500;
  backface-visibility: hidden;
}

.post a {
  text-decoration: none;
  color: white;
  display: block;
}
.post svg {
  width: 4em;
  fill: black;
  margin-bottom: 2em;
  margin-left: 2px;
}

.p0 {
   background: #EC407A; 
  /* background: linear-gradient(135deg, #EC407A, #FFCDD2); */
}
.p1 {
   background: #518BC0; 
  /* background: linear-gradient(135deg, #518BC0, #8BC5B8); */
}
.p2 {
   background: #424242; 
  /* background: linear-gradient(135deg, #424242, #757575,#BDBDBD); */
}
.default{
  background: #fff;
}
.default p{
  color: black;
  text-align: left;
}

kbd{
    background: #00E676;
    border-radius: 3px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 30px;
    
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:80%;
 margin-left: 10%;
 border-top:1px solid gray;
}

.panel-primary{
  width: 200px;
  align-content: center;
  margin-left: 17%;
}
@media (min-device-width: 768px) {
  .post {
    flex: 1 200px;
  }
}

.default{
  color: black;
}


/* ASK QUESTION POPUP */

.mainDiv {
    background: #fff;
    padding: 20px;
    width: 450px;
    margin: 0px auto;
    margin-top: 200px;
    box-shadow: 0 0 20px #333;
}

/* .mainDiv input{
    border: 0;
    padding: 10px;
} */
 
.mainDiv h1 {
    font-weight: 300;
    font-size: 24px;
}
 
.mainDiv textarea {
    border: 0px;
    background: white;
    padding: 20px 0px;
    outline: none;
    width: 100%;
    resize: none;
    color: black;
}
 
.mainDiv button {
    background: #528bff;
    color: black;
    position: relative;
    top: 50px;
    width: 64px;
    height: 64px;
    line-height: 38px;
    border-radius: 100%;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
   background-color: rgba(255,255,255,0.3); 
  /* background-color: #E78F98; */
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: #212121;
  -webkit-text-stroke-width: 0.5px;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

@media (min-width: 960px) {
  .main-intro h2 {
    font-size: 2em;
  }
  .post,.feed {
    flex: 1 150px;
  }
  .post:hover, .feed button:hover {
    transform: scale(1.1);
  }
  .popup {
    width: 70%;
  }
}