body{
    background: #393942;
}

.card{
    display: inline-block;
    width : 550px;
    height: 120%;
    background: white;
    box-shadow: 0px 0px 2px 0px #888888;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    margin-left: 330px;
    transform: translate(-50%, -50%);
}
.card h2{
    font-size: 22px;
    color: #232529;
    letter-spacing: 2px;
    margin-left: 20%;
    margin-top: 25%;
    position: fixed;
}
.submit{
    border-radius: 60px;
    background-color: #232529;
    color: white;
    padding: 12px;
    width: 360px;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
    font-size:21px;
    margin-top: 270px;
    margin-left: 50px;
    position: fixed;
}
.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit span::after {
    content: '\269B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 25px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}



p.input-container {
  width: 100%;
  position: relative;
  top: 220px;
  margin-bottom: 25px;
  margin-left: 30px;
  padding: 15px;
  background: transparent;
}
input {
  width: 70%;
  height: 20px;
  font-size: 22px;
  letter-spacing: 3px;
  border: none;
  border-bottom: 1px solid #888888;
  background-color: transparent;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #232529;
}
.back{
    display: inline-block;
    width: 70%;
    height: 60%;
    border-radius: 10px;
    background: #232529;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back h1{
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
    margin-left: 70%;
    margin-top: 10%;
    position: fixed;
}

.back text{
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
    margin-left: 70%;
    margin-top: 20%;
    position: fixed;
}

