@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background: white;
}
.header{
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(to right,#6836CE,#CC4799,#A36FCF);
    width: 100%;
    height: 220px;
    color: white;
    display: table-cell;
    box-shadow: 0px 5px 10px #ccc;
}

.header h1{
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    letter-spacing: 8px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.header h2{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 2px;
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}

.header github-btn{
    border: 1px solid rgba(255, 255, 255, 0.5);
      color: #FFF;
      border-radius: 10px;
      padding: 1em 3em;
      background: none;
      cursor: pointer;
      margin-left: 580px;
      position: fixed;
      margin-top: 0px;
          font-family: 'Roboto', sans-serif;
          letter-spacing: 2px;
}
.header github-btn:hover{
    background: white;
    color: black;
}
.temp{
     width:70%;
     height:300px;
     position:absolute;
     background: transparent;
 }

p{
    margin-top: 350px;
    text-align: justify;
}

.cards{
    margin-left:0px;
    width: 100%;
    height:200px;
	position: relative;
    top: 315px;
/*     background: linear-gradient(to right,#FDC800,#FDA400); 
*/   
background: transparent;
 margin-top: 30px;
/*         box-shadow: 0px 5px 10px #ccc; 
*/
}
.separator{
    width: 100%;
    height: 390px;
    background:transparent;
    position: relative;
}
.card{
    display: inline-block;
    position: relative;
    width : 250px;
    height: 370px;
    margin-left:20px;
    margin-top: 20px;
    background:white;
    box-shadow: 0px 0px 20px 0px #888888;
    border-radius: 10px;
}

.card button {
  border: 1px solid gainsboro;
  color: white;
  border-radius: 80px;
  padding: 1em 1em;
  margin-top: 340px;
  margin-left: 60px;
  position: relative;
  text-align: center;
background: linear-gradient(to right,#6836CE,#A36FCF,#CC4799);
  cursor: pointer;

}

.card button:hover{
    color: white;
    background: linear-gradient(to right,#CC4799,#A36FCF,#6836CE);

}


.footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
    background: linear-gradient(to right,#6836CE,#A36FCF,#CC4799);
  text-align: center;
}